<ul ngbNav [(activeId)]="activeTab" #nav="ngbNav" (navChange)="tabClick($event)" class="nav-tabs">
  <li [ngbNavItem]="0">
    <a ngbNavLink>Edit</a>
    <ng-template ngbNavContent>
      <select [(ngModel)]="selectedCycle" name="selectedCycle" class="form-control">
        <option *ngFor="let item of cycles" value="{{item.value}}">{{item.text}}</option>
      </select>
    </ng-template>
  </li>
  <li [ngbNavItem]="1">
    <a ngbNavLink>Summary by Period</a>
    <ng-template ngbNavContent>Summary by Period works!</ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Summary by Job</a>
    <ng-template ngbNavContent>
      <div *ngIf="summaryJob != null" class="row mt-3" style="max-height:700px; overflow-y:auto; position:relative;">
        <div class="col-md-8 offset-2">
          <table class="table table-bordered table-hover table-sm">
            <thead class="sticky">
              <tr>
                <th style="width:45%;">Job</th>
                <th style="width:25%;">Work Period</th>
                <th style="width:15%;" class="text-right">Hours</th>
                <th style="width:15%;" class="text-right">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of summaryJob">
                <td *ngIf="item.groupCount > 0"  [attr.rowspan]="item.groupCount">{{item.descr}}</td>
                <td>{{item.workPeriodDescr}}</td>
                <td class="hours-col text-right">{{item.hours | number: "1.2-2"}}</td>
                <td class="hours-col text-right" [ngClass]="item.lastInGroup ? 'font-weight-bold':''">{{item.runningGroupHours | number: "1.2-2"}}</td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>


    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Detail by Job</a>
    <ng-template ngbNavContent>
      <div class="row mt-4">
        <label class="col-form-label col-2">Job {{selectedJob}}</label>
        <div class="col-3">
          <select [(ngModel)]="selectedJob" name="selectedJob" class="form-control">
            <option *ngFor="let item of jobs" [ngValue]="item.value" selected="{{item.value == selectedJob}}">{{item.text}}</option>
          </select>
        </div>
      </div>
      <div class="row mt-4">
        <div style="flex-grow:1;overflow-y:auto; overflow-x:hidden; position:relative;">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-sm table-striped table-bordered table-hover">
                <thead class="sticky">
                  <tr>
                    <th class="work-col-1">Date</th>
                    <th class="work-col-1 text-right">Hours</th>
                    <th class="work-col-1">Type</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entry of jobDetail" class="work-row">
                    <td class="work-col-1">{{entry.workDate}}</td>
                    <td class="work-col-1 text-right">{{entry.hours | number: "1.2-2"}}</td>
                    <td class="work-col-1">{{entry.workTypeDescr}}</td>
                    <td>{{entry.descr}}</td>
                  </tr>
                  <tr class="work-row">
                    <td></td>
                    <td class="work-col-1 text-right">{{jobDetailTotal | number: "1.2-2"}}</td>
                    <td class="work-col-1">Total</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>



    </ng-template>
  </li>

</ul>

<div [ngbNavOutlet]="nav"></div>
