<div class="row">
  <div class="col-2 ml-auto">
    <button id="btnAddJob" class="btn btn-primary" type="button">Add/Remove</button>
  </div>
</div>
<div class="row mt-3" style="max-height:75vh; overflow-y:auto; position:relative;">
  <div class="col-md-12">
    <table class="table table-sm table-striped table-hover">
      <thead class="sticky">
        <tr>
          <th class="job-col">Client</th>
          <th class="job-col">Project</th>
          <th class="job-col">Bill Type</th>
          <th class="job-col-2">Description</th>
          <th class="job-col">Start Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs" class="work-row">
          <td>{{job.client}}</td>
          <td>{{job.project}}</td>
          <td>{{job.billTypeDescr}}</td>
          <td>{{job.descr}}</td>
          <td>
            <span class="span-date" *ngIf="editing == false || editJobId != job.jobId">{{job.startDate | date:'MM/dd/yy' }}</span>
            <input type="date" class="form-control edit-date" placeholder="- None -" value = "{{job.startDate | date:'yyyy-MM-dd'}}" *ngIf="editing == true && editJobId == job.jobId" />
          </td>
          <td>
            <button type="button" class="btn btn-default fa fa-pencil" title="Adjust Start Date" *ngIf="editing==false || job.jobId != editJobId" (click)="adjustStart(job.jobId)"></button>
            <button type="button" class="btn btn-default fa fa-plus" title="Create New Start Date" *ngIf="editing==false || job.jobId != editJobId" (click)="newStart(job.jobId)"></button>
            <button type="button" class="btn btn-success btn-sm btn-create" *ngIf="job.jobId == editJobId && editingNew == true">Create New Start Date</button>
            <button type="button" class="btn btn-primary btn-sm btn-adjust" *ngIf="job.jobId == editJobId && editingAdjust == true">Adjust Start Date</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="modalAdd" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>
