  <h1>Log In</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group form-row">
      <label for="username" class="col-2 col-form-label">User Name</label>
      <div class="col-3"><input for="username" formControlName="username" class="form-control" autofocus /></div>
    </div>

    <div *ngIf="reset">
      <div class="form-group form-row">
        <label asp-for="NewPassword" class="col-2 col-form-label">New Password</label>
        <div class="col-3"><input for="newPassword" formControlName="newPassword" type="password" class="form-control" /></div>
        <input asp-for="Password" type="hidden" />
      </div>
      <div class="form-group form-row">
        <label for="confirmNewPassword" class="col-2 col-form-label">Confirm New Password</label>
        <div class="col-3"><input for="confirmNewPassword" formControlName="confirmNewPassword" type="password" class="form-control" /></div>
      </div>
    </div>

    <div *ngIf="!reset" class="form-group form-row">
      <label for="password" class="col-2 col-form-label">Password</label>
      <div class="col-3"><input for="password" formControlName="password" type="password" class="form-control" /></div>
    </div>

    <div class="form-group form-row">
      <div class="col-md-3 offset-2 mt-1 form-check">
        <label class="form-check-label ml-4">
          <input type="checkbox" formControlName="rememberMe" class="form-check-input" />
          Remember Me
        </label>
      </div>
      <div class="col-1">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
      </div>
    </div>
    <div class="row">
      <div *ngIf="loginForm.errors?.invalidLogin || message" class="alert alert-danger mt-3 mb-0 col-md-4 offset-2">
        {{message}}
      </div>
    </div>
    <input asp-for="Reset" type="hidden" />
  </form>
