<header>
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color:darkmagenta">
    <div class="container">
      <a class="navbar-brand" asp-area="" asp-controller="Work" asp-action="Index">TimeCard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <div *ngIf="userData.isLoggedIn" class="navbar-right">
          <p class="nav navbar-text">You are logged in as {{userData.fullName}}</p>
          <button (click)="logout()" class="btn btn-sm btn-light ml-2">Log Out</button>

        </div>
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item nav-select-work">
            <a class="nav-link" asp-area="" asp-controller="Work" asp-action="Index">Work</a>
          </li>
          <li class="nav-item nav-select-payment">
            <a class="nav-link" asp-area="" asp-controller="Payment" asp-action="Index">Payment</a>
          </li>
          <li class="nav-item nav-select-job">
            <a class="nav-link" asp-area="" asp-controller="Job" asp-action="Index">Jobs</a>
          </li>
          <li class="nav-item nav-select-account">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
          </li>
          <li class="nav-item nav-select-lookup">
            <a class="nav-link" routerLink ="lookup" >Lookups</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
