<div class="row mt-3" style="max-height:450px; overflow-y:auto; position:relative;">
  <div class="col-md-12">
    <table class="table table-sm table-striped table-hover">
      <thead class="sticky">
        <tr>
          <th style="width:15%;">Client</th>
          <th style="width:15%;">Project</th>
          <th style="width:7%;">Bill Type</th>
          <th style="width:7%;">Billed</th>
          <th style="width:7%;">Paid</th>
          <th style="width:7%;">Balance</th>
          <th style="width:10%;">Starting Date</th>
          <th style="width:10%;">Paid Thru</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paymentSummary" style="cursor:pointer;" (click)="selectPaymentJob(item.jobId)">
          <td>{{item.client}}</td>
          <td>{{item.project}}</td>
          <td>{{item.billType}}</td>
          <td>{{item.billed | number:'1.2-2'}}</td>
          <td>{{item.paid | number:'1.2-2'}}</td>
          <td>{{item.balance | number:'1.2-2'}}</td>
          <td>{{item.startDate}}</td>
          <td>{{item.paidThruDate}}</td>
          <td>
            <div *ngIf="item.payments.length > 0">
              <button type="button" class="btn btn-link" (click)="item.seePayments = !item.seePayments">{{item.payments.length}}</button>
              <div [ngbCollapse]="!item.seePayments">
                <div *ngFor="let pmt of item.payments" class="row">
                  <div class="col-md-4 text-right">{{pmt.hours | number:'1.2-2'}}</div>
                  <div class="col-md-4">{{pmt.payDate | date:'MM/dd/yy'}}</div>
                  <div class="col-md-4">{{pmt.checkNo}}</div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><strong>Total</strong></td>
          <td><strong>{{totalBilled | number:'1.2-2'}}</strong></td>
          <td><strong>{{totalPaid | number:'1.2-2'}}</strong></td>
          <td><strong>{{totalBalance | number:'1.2-2'}}</strong></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

